USE [master]
GO
/****** Object:  Database [Proyecto3-1-1300-0845]    Script Date: 11/8/2025 4:10:07 PM ******/
CREATE DATABASE [Proyecto3-1-1300-0845]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto3-1-1300-0845', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER_2022\MSSQL\DATA\Proyecto3-1-1300-0845.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto3-1-1300-0845_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER_2022\MSSQL\DATA\Proyecto3-1-1300-0845_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto3-1-1300-0845].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto3-1-1300-0845]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 11/8/2025 4:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Cedula] [nvarchar](450) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Provincia] [nvarchar](max) NOT NULL,
	[Canton] [nvarchar](max) NOT NULL,
	[Distrito] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NOT NULL,
	[ContactoPreferido] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 11/8/2025 4:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Cedula] [nvarchar](450) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[SalarioDiario] [decimal](18, 2) NOT NULL,
	[FechaRetiro] [date] NULL,
	[TipoEmpleado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 11/8/2025 4:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteCedula] [nvarchar](450) NOT NULL,
	[NombreMascota] [nvarchar](max) NOT NULL,
	[Especie] [nvarchar](max) NOT NULL,
	[Raza] [nvarchar](max) NOT NULL,
	[Edad] [decimal](18, 2) NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[UltimaAtencion] [date] NULL,
 CONSTRAINT [PK_Mascotas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procedimientos]    Script Date: 11/8/2025 4:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedimientos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteCedula] [nvarchar](450) NOT NULL,
	[MascotaId] [int] NOT NULL,
	[TipoProcedimientoId] [int] NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Procedimientos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposProcedimiento]    Script Date: 11/8/2025 4:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposProcedimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_TiposProcedimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Mascotas_ClienteCedula]    Script Date: 11/8/2025 4:10:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Mascotas_ClienteCedula] ON [dbo].[Mascotas]
(
	[ClienteCedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Procedimientos_ClienteCedula]    Script Date: 11/8/2025 4:10:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Procedimientos_ClienteCedula] ON [dbo].[Procedimientos]
(
	[ClienteCedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Procedimientos_MascotaId]    Script Date: 11/8/2025 4:10:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Procedimientos_MascotaId] ON [dbo].[Procedimientos]
(
	[MascotaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Procedimientos_TipoProcedimientoId]    Script Date: 11/8/2025 4:10:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_Procedimientos_TipoProcedimientoId] ON [dbo].[Procedimientos]
(
	[TipoProcedimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mascotas]  WITH NOCHECK ADD  CONSTRAINT [FK_Mascotas_Clientes_ClienteCedula] FOREIGN KEY([ClienteCedula])
REFERENCES [dbo].[Clientes] ([Cedula])
GO
ALTER TABLE [dbo].[Mascotas] NOCHECK CONSTRAINT [FK_Mascotas_Clientes_ClienteCedula]
GO
ALTER TABLE [dbo].[Procedimientos]  WITH NOCHECK ADD  CONSTRAINT [FK_Procedimientos_Clientes_ClienteCedula] FOREIGN KEY([ClienteCedula])
REFERENCES [dbo].[Clientes] ([Cedula])
GO
ALTER TABLE [dbo].[Procedimientos] NOCHECK CONSTRAINT [FK_Procedimientos_Clientes_ClienteCedula]
GO
ALTER TABLE [dbo].[Procedimientos]  WITH NOCHECK ADD  CONSTRAINT [FK_Procedimientos_Mascotas_MascotaId] FOREIGN KEY([MascotaId])
REFERENCES [dbo].[Mascotas] ([Id])
GO
ALTER TABLE [dbo].[Procedimientos] NOCHECK CONSTRAINT [FK_Procedimientos_Mascotas_MascotaId]
GO
ALTER TABLE [dbo].[Procedimientos]  WITH CHECK ADD  CONSTRAINT [FK_Procedimientos_TiposProcedimiento] FOREIGN KEY([TipoProcedimientoId])
REFERENCES [dbo].[TiposProcedimiento] ([Id])
GO
ALTER TABLE [dbo].[Procedimientos] CHECK CONSTRAINT [FK_Procedimientos_TiposProcedimiento]
GO
USE [master]
GO

USE [Proyecto3-1-1300-0845]
GO


INSERT INTO
	[dbo].[Empleados]
VALUES
	('123', '1977-11-18', '1995-10-27', '2500.00', '2025-10-31', 'Asistente')
;
GO

INSERT INTO
	[dbo].[Clientes]
VALUES
	('456','Juan Perez', 'San Jose', 'Central', 'Carmen', 'Calle 1, Avenida 2', '8888-6674', 'Llamada')
;
GO

INSERT INTO
	[dbo].[Mascotas] ([ClienteCedula], [NombreMascota], [Especie], [Raza], [Edad], [Color], [UltimaAtencion])
VALUES
	('456', 'Firulais', 'Perro', 'Labrador', '3.00', 'Marron', '2025-08-01')
;
GO

INSERT INTO
	[dbo].[Procedimientos] ([ClienteCedula], [MascotaId], [TipoProcedimientoId], [Estado], [Fecha])
VALUES
	('456', 1, 1, 'Agendado',	'2025-11-15')
	,('456', 1, 14, 'Facturado', '2024-11-12')
;
GO