@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Te chineo tu lomito </h1>
    <p>Por favor, utilice las opciones del menu superior.</p>
</div>
